.icon-left {
    position: absolute;
    top: 77vh;
    left: 10px;
}

.icon-right {
    position: absolute;
    bottom: -65vh;
    right: 10px;
}

.season-display.winter i {
    color: #07a4ff;
}

.season-display.summer i {
    color: red;
}

.season-display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background: whitesmoke;
}

.winter {
    background: aliceblue;
}

.summer {
    background: orange;
}